/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
*/

.nav>li>a {
  background-color: #F1D96F;
  color: #ffffff;
    font-size: 30px;
}

ul.nav>li>a:hover, ul.nav>li>a:focus {
  background-color: #B8D98A;
  color: #ffffff;
  font-size: 30px;
}

.nav {
  background : #B5729E;
  width: 100%;
}

.nav>li {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 2px;
  width: 200px;
  outline-style: ridge;
  outline-color: #65BFD7;
  text-align: center;
  margin-right: 20px;
  float: left;
}

#logo {
  position: relative;
  z-index: 9999;
  width: 265px;
  height: 259px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

ul.nav {
  padding-left: 280px;
}

header {
  height: 50px;
}

div#main {
position: relative;
  z-index: 9999;
}